/*

Pentatonic Scale

f~n = f0 * (2 ^ n/5)

*/
/*

Pentatonic Scale

f~n = f0 * (2 ^ n/5)

*/
/*

Pentatonic Scale

f~n = f0 * (2 ^ n/5)

*/
/*

Pentatonic Scale

f~n = f0 * (2 ^ n/5)

*/
/*

Pentatonic Scale

f~n = f0 * (2 ^ n/5)

*/
.font-size-12 {
  font-size: 2.4px;
}

.font-size-14 {
  font-size: 4.8px;
}

.font-size-16 {
  font-size: 9.6px;
}

.font-size-18 {
  font-size: 19.2px;
}

.font-size-21 {
  font-size: 38.4px;
}

.font-size-24 {
  font-size: 76.8px;
}
