// Mixin Font Size

.font-size-minus-2 {
  font-size: pentatonic-scale(-2, $base-font-size);
}

.font-size-minus-1 {
  font-size: pentatonic-scale(-1, $base-font-size);
}

.font-size-zero {
  font-size: pentatonic-scale(0, $base-font-size);
}

.font-size-plus-1 {
  font-size: pentatonic-scale(1, $base-font-size);
}

.font-size-plus-2 {
  font-size: pentatonic-scale(2, $base-font-size);
}

.font-size-plus-3 {
  font-size: pentatonic-scale(3, $base-font-size);
}

.font-size-plus-4 {
  font-size: pentatonic-scale(4, $base-font-size);
}

.font-size-plus-5 {
  font-size: pentatonic-scale(5, $base-font-size);
}

.font-size-plus-6 {
  font-size: pentatonic-scale(6, $base-font-size);
}

.font-size-plus-7 {
  font-size: pentatonic-scale(7, $base-font-size);
}

.font-size-plus-8 {
  font-size: pentatonic-scale(8, $base-font-size);
}

.font-size-plus-9 {
  font-size: pentatonic-scale(9, $base-font-size);
}

.font-size-plus-10 {
  font-size: pentatonic-scale(10, $base-font-size);
}

.font-size-plus-11 {
  font-size: pentatonic-scale(11, $base-font-size);
}

.font-size-plus-12 {
  font-size: pentatonic-scale(12, $base-font-size);
}

.font-size-plus-13 {
  font-size: pentatonic-scale(13, $base-font-size);
}

.font-size-plus-14 {
  font-size: pentatonic-scale(14, $base-font-size);
}

.font-size-plus-15 {
  font-size: pentatonic-scale(15, $base-font-size);
}

.font-size-plus-16 {
  font-size: pentatonic-scale(16, $base-font-size);
}

.font-size-plus-17 {
  font-size: pentatonic-scale(17, $base-font-size);
}