// Mixin Font Size

.font-size-9 {
  @include pentatonic-scale(-2);
}

.font-size-10 {
  @include pentatonic-scale(-1);
}

.font-size-12 {
  @include pentatonic-scale(0);
  color: $red;
}

.font-size-14 {
  @include pentatonic-scale(1);
}

.font-size-16 {
  @include pentatonic-scale(2);
}

.font-size-18 {
  @include pentatonic-scale(3);
}

.font-size-21 {
  @include pentatonic-scale(4);
}

.font-size-24 {
  @include pentatonic-scale(5);
  color: $red;
}

.font-size-28 {
  @include pentatonic-scale(6);
}

.font-size-32 {
  @include pentatonic-scale(7);
}

.font-size-36 {
  @include pentatonic-scale(8);
}

.font-size-42 {
  @include pentatonic-scale(9);
}

.font-size-48 {
  @include pentatonic-scale(10);
  color: $red;
}

.font-size-55 {
  @include pentatonic-scale(11);
}

.font-size-63 {
  @include pentatonic-scale(12);
}

.font-size-73 {
  @include pentatonic-scale(13);
}

.font-size-84 {
  @include pentatonic-scale(14);
}

.font-size-96 {
  @include pentatonic-scale(15);
  color: $red;
}

.font-size-110 {
  @include pentatonic-scale(16);
}

.font-size-127 {
  @include pentatonic-scale(17);
}

.font-size-146 {
  @include pentatonic-scale(18);
}

.font-size-167 {
  @include pentatonic-scale(19);
}

.font-size-192 {
  @include pentatonic-scale(20);
  color: $red;
}