// Variables

// Ratios

$octave: 2;
$golden-ditonic: 1.618;

$ratio: $octave !default;

// Scales

$ditonic: 1/2;
$tritonic: 1/3;
$tetratonic: 1/4;
$pentatonic: 1/5;
$hexatonic: 1/6;
$heptatonic: 1/7;
$octatonic: 1/8;

$scale: $pentatonic !default;

// Base note

$base-font-size: 12px !default;
